<footer class="page-footer mt-4">
    <div class="center">
        <p>· &copy; 2018/2019 Proyecto de Desarrollo de Aplicaciones Web ·</p>
        <p>· Realizado por <a href="https://twitter.com/miguel5gavilan" target="_blank">Miguel Ángel Gavilán Merino</a>
            , <a href="https://twitter.com/jponferrada26" target="_blank">Javier Ponferrada López</a>
            , <a href="https://github.com/Vsevillano" target="_blank">Victoriano Sevillano Vega</a> 
            y <a href="https://github.com/Victor96Man" target="_blank">Víctor M. Gómez Muñoz</a> ·</p>

        <p>· {{ organization_name }} ·</p>
    </div>
</footer>